<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wasender.app"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>WASender</name>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="MixedContentMode" value="0" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="BackupWebStorage" value="none" />

</widget>
